page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .toolbar-title{
    color: white;
    font-size: 20px;
    text-align: center;
  }

  .item-detail {
    color: white;
    width: 100%;
    background: transparent;
    position: absolute;
  }

  .background{
    background-image: url('../assets/img/welcome/bg.jpg');
  }

  .toolbar-background {
    background-color: transparent;
  }

  h2{
    color: #3DD6D0;
  }
}
