<ion-content class="background">

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
    <ion-grid>
      <ion-row >
        <ion-col col-4 offset-4>
          <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
          <div class="profile-image-wrapper" (click)="getPicture()">
            <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
              <ion-icon name="add"></ion-icon>
              <div>
                {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
              </div>
            </div>
            <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 offset-4 text-center>
          <P class="text-setting">Hello there !</P>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


  <form (submit)="doSignUp()">

    <ion-grid padding>

      <ion-row align-items-end>
        <ion-col col-1 >
          <div class="icon_app"></div>
        </ion-col>
        <ion-col col-11>
          <ion-item >
            <ion-input type="username" [(ngModel)]="account.username" name="username"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row align-items-end>
        <ion-col col-1>
          <div class="icon_app"></div>
        </ion-col>
        <ion-col col-11>
          <ion-item>
            <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row align-items-end>
        <ion-col col-1 >
          <div class="icon_app"></div>
        </ion-col>
        <ion-col col-11>
          <ion-item>
            <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

    <div padding>
      <button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
    </div>

  </form>

  <div class="my-button">
    <ion-row >
      <ion-col   width-100>
        <button ion-button clear (click)="navLogin()" class="butt">Already have an account?</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
